body
{
    font-family: "Grape Nuts";
    font-weight: 400;
    font-style: normal;
    background-image: url("Pictures/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.swheadertext
{
    z-index: 9;
    top: 25px;
    text-align: right;
    right: 0;
    padding: 150px;
    margin: 2rem;
    color: white;
}

.swheadertext h1
{
    font-size: calc(2vw + 1rem);
    margin: 0 auto;
}

.swheadertext h2
{
    font-size: calc(2vw + 1rem);
    margin: 0 auto;
}

main
{
    background-color: white;
}

.swguide_box
{
    text-align: center;
    background-color: white;
    padding: 2px;
    margin-left: 15rem;
    margin-right: 15rem;
}

.swguid_box p
{
    font-style: italic;
    display: inline-block;
    padding-left: 20px;
}

.swguide_box img
{
    width: 65px;
    border-radius: 50%;
    border: 1px solid black;
    vertical-align: middle;
}

.swinformation
{
    background-color: white;
    padding: 5rem;
}

.swinformationarticle_right
{
    display: flex;
}

.swinformationarticletext_right
{
    text-align: left;
    flex-wrap: wrap;
    padding: 25px;
    margin: auto;
    font-size: 25px;
}

.swinformation img
{
    vertical-align: center;
    box-shadow: 2px 2px 2px black;
}

.swinformation article
{
    line-height: 2;
    font-size: 25px;
    margin-left: 600px;
    margin-right: 200px;
}

.swvideo
{
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
}

.sw_flex_discovery p
{
    font-weight: bold;
    font-size: 25px;
}

.sw_flex_discovery ul
{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.sw_flex_discovery li
{
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
    font-size: 70px;
}

.sw_flex_discovery h1
{
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
    font-size: 50px;
}

.swdiscovery
{
    display: flex;
}

.swdiscovery img
{
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-left: 50px;
}

.sw_flex_discovery img
{
    height: 500px;
    width: 500px;
}

::placeholder
{
    color: white;
}

footer
{
    color: white;
    background-image: url();
    background-size: cover;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 400px;
    background-image: url(Pictures/footer.jpg.webp);
    background-attachment: fixed;
}

.swfooter
{
    margin-left: 700px;
    margin-right: 700px;
    font-size: 25px;
}

.swemail
{
    border: none;
    background: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
    font-size: 30px;
    margin-left: 120px;
}

.swbutton
{
    border-style: solid;
    border-color: white;
    background: none;
    color: white;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin: 20px;
}

.swsocialmedia
{
    padding-right: 180px;
    display: flex;
    margin: 0 auto;
    Height: calc(50px);
    Width: calc(50px);
    gap: 3rem;
}

